# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Python environment files
.env